<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Queensland Health</title>
</head>
<body>
<section>
    <div>
        <h1 align="center"><b>Queensland Health</b></h1>
        <hr>
        <hr>
        <br>
        <h3>Case Study: Queensland Health – Technology Strategy</h3>
        <p>The Queensland Health eHealth Strategy is for systems that increase health literacy, promote
            community education and empowers communities to have greater control over their own
            healthcare. This requires upgrading core ICT infrastructure to enable cutting-edge health
            service delivery into the future. eHealth includes the following priorities:
        <ul>
            <li>ICT infrastructure to provide network and datacenter functions to support an increasingly
                mobile workforce,
            </li>
            <li>A desktop environment to support a consistent user experience, and access to common
                systems and tools across the health system,
            </li>
            <li>A secure information system environment to share information and images, and consult
                with others through and information interoperability platform,
            </li>
            <li>Renewing enterprise systems, including those for patient administration, finance and
                laboratories,
            </li>
            <li>Migrating towards statewide medical records and enabling digital hospitals,</li>
            <li>Integrating other systems such as business intelligence, and systems to support integrated
                care with primary and community healthcare providers.
            </li>
        </ul>

        After evaluating various platforms, Queensland Health finally decided to adopt a Service
        Oriented Architecture (SOA) for its future IT infrastructure. However, the managers from
        clinical services would like to gain a deeper understanding of:
        <ul>
            <li>Computing and storage infrastructure design,</li>
            <li>Information integration,</li>
            <li>Application and Service Integration, and</li>
            <li>Technologies behind Application and Service Integration including a small specific
                demonstration of these technologies along with a brief explanation of the concepts
                and principles of how it works.
            </li>
        </ul>
        </p>
        <hr>
    </div>
</section>
<section>
    <div>
        <h4><u>Menu</u></h4>
        <ul>
            <li><a href="/records">View All Record</a></li>
        </ul>
    </div>
</section>
</body>
</html>